/* how to font from file code taken from " https://www.digitalocean.com/community/tutorials/how-to-load-and-use-custom-fonts-with-css " */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@font-face {
    font-family: "Jameel Regular";
    src: url('./media/Jameel_Noori_Nastaliq_Regular.ttf');
}

body {
    font-family: "Jameel Regular";
    word-spacing: 2px;
    overflow-x: hidden;
}

/* ------- loader codes taken from ("https://stackabuse.com/loading-animation-in-vanilla-javascript/") */

.loader-container {
    height: 110vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto auto auto;
    position: fixed;
    background: #000;
    z-index: 1;
}

#loader {
    display: none;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: green transparent green transparent;
    border-radius: 50%;
    margin: 20% auto auto auto;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 span {
    font-family: "poppins";
}

#current-time {
    font-family: "poppins";
}

.visible {
    position: fixed;
    top: -28px;
    min-width: 300px;
    max-width: 75%;
    transition: 0.5s;
}

.hidden {
    position: fixed;
    top: -105vh;
    min-width: 300px;
    max-width: 75%;
    transition: 0.5s;
}

.head span {
    text-align: center;
    font: "roboto, regular";
}

.logo {
    height: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: auto auto;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.head {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    border-top: 1px solid green;
    border-radius: 5px;
    padding: 10px auto auto auto;
}

.m-head {
    text-align: center;
    font-size: larger;
    /* font-weight: bold; */
    border-bottom: 1px solid green;
    border-radius: 5px;
    padding: 10px auto auto auto;
}


.col-md-6 {
    text-align: end;
}

.row {
    justify-content: space-around;
}

.form-check-input {
    text-align: end;
    align-content: flex-end;
}

.col-md-6 label,
option {
    text-align: end;
}

/* -------copyright-------- */

.copyright {
    font-family: "poppins";
    width: 100%;
    right: 0;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    box-sizing: border-box;
    position: absolute;
}

.copyright a {
    font-weight: bold;
    text-decoration: none;
    color: greenyellow;
}

.copyright p {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.fa-heart {
    color: red;
}

#redinfo {
    font-size: larger;
    animation: color-change 1s infinite;
    text-align: center;
}
#redinfo:hover {
    font-size: larger;
    animation: color-change none;
    color: red;
    text-align: center;
}

@keyframes color-change {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}

@media only screen and (max-width: 900px) {
    .spinner {
        margin: 40% auto 50% auto;
    }
}

@media only screen and (max-width: 600px) {
    .spinner {
        margin: 75% auto 50% auto;
    }
}