/* how to font from file code taken from " https://www.digitalocean.com/community/tutorials/how-to-load-and-use-custom-fonts-with-css " */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@font-face {
    font-family: "Jameel Regular";
    src: url('../font/font/Jameel_Noori_Nastaliq_Regular.ttf');
}

body{
    font-family: "Jameel Regular";
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

#current-time{
    font-family: "poppins";
}

.visible {
    position: fixed;
    top: -28px;
    min-width: 300px;
    max-width: 75%;
    transition: 0.5s;
}

.hidden {
    position: fixed;
    top: -105vh;
    min-width: 300px;
    max-width: 75%;
    transition: 0.5s;
}

.head span {
    text-align: center;
    font: "roboto, regular";
}

.logo {
    height: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: auto auto;
    background-color: rgba(255, 255, 255, 0.211);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.head {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    border-top: 1px solid green;
    border-radius: 5px;
    padding: 10px auto auto auto;
}

.m-head {
    text-align: center;
    font-size: larger;
    /* font-weight: bold; */
    border-bottom: 1px solid green;
    border-radius: 5px;
    padding: 10px auto auto auto;
}


.col-md-6 {
    text-align: end;
}

.row {
    justify-content: space-around;
}

.form-check-input {
    text-align: end;
    align-content: flex-end;
}

.col-md-6 label,
option {
    text-align: end;
}